/* Main body settings */
body
{
    padding: 0;
    margin: 0;
	background: url("resources/backgrounds/cutting_board_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Title settings */
.title
{
    line-height: 100px;
    text-align: center;
	font-family: tahoma;
}

/* navbar */ /* The navigation bar */
.navbar
{
    overflow: hidden;
    background-color: #333;
    /* Set the navbar to fixed position */
    position: fixed;
    /* Position the navbar at the top of the page */
	top: 0;
    /* Full width */
	width: 100%;
	font-family: tahoma;
}

/* Links inside the navbar */
.navbar a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover
{
    background: #ddd;
    color: black;
}

/* Main content */ .main
{
    /* Add a top margin to avoid content overlay */
    margin-top: 30px;
}

.icon-bar
{
    /* Set a specific width */
    width: 90px;
	position: fixed;
    top: 35%;
}

.icon-bar a
{
    /* Make the links appear below each other instead of side-by-side */
    display: block;
    /* Center-align text */
	text-align: center;
    /* Add some padding */
	padding: 16px;
    /* Add transition for hover effects */
	transition: all 0.3s ease;
    /* White text color */
	color: white;
    /* Increased font-size */
	font-size: 36px;

}

.icon-bar a:hover
{
    background-color: #000;
    /* Add a hover color */;
}

.active
{
    background-color: #4CAF50;
    /* Add an active/current color */;
}

.menu-title img {
	width: 100px;
	height: 100px;
}

.menu-title h1 {
	color: white;
	text-align: center;
	font-family: 'Brush Script MT', cursive;
	font-size: 70px;
	top: 18px;
	left: 10px;
}

.menu {
	color: white;
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	font-size: 30px;
}

.menu a
{
    display: block;
	transition: all 0.3s ease;
	color: white;
	text-decoration: none;
}

.menu a:hover
{
	filter: invert(100%);
}

.menu img
{
	width: 50px;
	height: 50px;
}

.menu h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

.slides {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.slides img {
	width: 50%;
}
